<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="SchemaSource" value="https://schema.org/version/3.4/schema.jsonld" />
    <add key="SchemaNamespace" value="Rhythm.SchemaOrg" />
    <add key="SchemaOutputPath" value="..\..\..\Rhythm.SchemaOrg" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
</configuration>